module {{.ModuleName}}

go {{.GoVersion}}

require (
	github.com/santif/microlib v0.1.0
	{{- if .WithGRPC}}
	google.golang.org/grpc v1.58.0
	google.golang.org/protobuf v1.31.0
	{{- end}}
	{{- if .WithAuth}}
	github.com/golang-jwt/jwt/v5 v5.0.0
	{{- end}}
	{{- if .WithMessaging}}
	github.com/rabbitmq/amqp091-go v1.8.1
	github.com/segmentio/kafka-go v0.4.42
	{{- end}}
)